body{
    transition: background-color 0.3s ease
}

.titlesection{
    text-align: center;
    font-family: verdana;
    margin-top: 200px;
}

.color-btn{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px 
}

.reset-btn{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px; 
}

.btn{
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold; 
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}

.red{
    background-color: rgb(255, 43, 43);
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: rgb(51, 216, 51);
}

.blue{
    background-color: rgb(72, 145, 255);
}

.purple{
    background-color: rgb(236, 116, 236);
}